<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>



</head>
<body style="background-color: rgba(250,235,215,0.51)">

<nav class="navbar navbar-expand-lg bg-body-tertiary ">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Giới thiệu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tin tức</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Admin (Nam)
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/aboutUser">Hiển Thị Danh Sách Người Dùng</a></li>
                        <li><a class="dropdown-item" href="#">Thông Tin Cá Nhân</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/login">Đăng Xuất</a></li>
                    </ul>
                </li>
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="/login">Đăng Nhập</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="/signup">Đăng Ký</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="/login">Đăng xuất</a>-->
<!--                </li>-->
            </ul>
            <form action="" class="d-flex" method="post">
                <input class="form-control me-2" type="text" placeholder="Enter here" name="search" id="search">
                <button class="btn btn-outline-success" >Search</button>
            </form>
        </div>
    </div>
</nav>

<div >
    <div style="text-align: center "  >
    <h1 style="letter-spacing: 20px; padding: 30px; word-spacing: 10px;" > Hệ Thống Cho Thuê Nhà</h1>

    <a class="btn btn-outline-success" href="/create" style="text-decoration: none; "> Thêm mới</a>
        <br>
        <br>

    </div>
</div>

<table class="table" style="margin: auto; width: 100%" >
    <thead>
    <tr style="text-align: center" >
        <th scope="col" style="width: 5%">STT</th>
        <th scope="col">Tên</th>
        <th scope="col">Địa Chỉ</th>
        <th scope="col">Giá</th>
        <th scope="col">Miêu Tả</th>
        <th scope="col">Loại</th>
        <th scope="col">Ảnh</th>
        <th scope="col" colspan="2" style="width: 15%">Tùy chọn</th>
    </tr>
    </thead>
    <tbody>
    {list}
    </tbody>
</table>

</body>
</html>